.login {
  --aya-login-page-bg: url();
  --aya-login-box-bg: rgba(255, 255, 255, 0.74);
  --aya-login-btn-color: #58b3e8;
  --aya-login-btn-hover: #4c9cca;
  --aya-login-btn-focus: #3a7496;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  --aya-login-page-bg: url();
  --aya-login-box-bg: rgba(255, 255, 255, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f5;
  background-image: var(--aya-login-page-bg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#login {
  background-color: var(--aya-login-box-bg);
  padding: 10px 10px 20px 10px;
}
#login h1 {
  display: none !important;
}
#login .notice {
  margin: 0;
  box-shadow: none;
  font-weight: 500;
  margin: 20px 24px;
}
#login .notice-error {
  border-left: 4px solid #fd1616;
}
#login .notice-error a {
  display: none;
}
#login .notice-info {
  border-left: 4px solid #72aee6;
}
#login .notice-success {
  border-left: 4px solid #79b816;
}
#login #loginform {
  border: none;
  box-shadow: none;
  background: none;
  padding: 24px 24px 34px;
}
#login #loginform p {
  margin-bottom: 5px;
}
#login #loginform .input {
  margin: 0;
  margin-top: 5px;
}
#login #loginform .input[type="text"]:focus,
#login #loginform .input[type="checkbox"]:focus,
#login #loginform .input[type="password"]:focus {
  border-color: var(--aya-login-btn-focus);
  box-shadow: none;
}
#login #loginform .wp-hide-pw {
  padding: 10px;
  color: var(--aya-login-btn-color);
}
#login #loginform .wp-hide-pw:focus {
  display: none;
}
#login #loginform .forgetmenot {
  width: 100%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
#login #loginform .submit {
  width: 100%;
}
#login #loginform .submit #wp-submit {
  width: 100%;
  height: 42px;
  background: var(--aya-login-btn-color);
  border: none;
  box-shadow: none;
  text-shadow: none;
}
#login #loginform .submit #wp-submit:hover {
  background: var(--aya-login-btn-hover);
}
#login #loginform .submit #wp-submit:focus {
  background: var(--aya-login-btn-focus);
}
#login #loginform .clear {
  display: none !important;
}
#login #loginform .message {
  display: none;
}
#login #nav a,
#login #backtoblog a {
  margin: 0px 10px;
}
#login #nav a:hover,
#login #backtoblog a:hover {
  color: var(--aya-login-btn-hover);
}
#login #nav a:focus,
#login #backtoblog a:focus {
  box-shadow: none;
}
#login #reg_passmail {
  display: none;
}
.language-switcher {
  display: none !important;
}
@media (max-width: 768px) {
  #login {
    width: 100%;
    padding: 30px;
    margin: 0px;
  }
}
