<!-- default -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- outline -->
<button type="button" class="btn btn-outline-primary">Primary</button>

<!-- default circle-->
<button type="button" class="btn btn-primary rounded-full">Primary</button>

<!-- outline circle -->
<button type="button" class="btn btn-outline-primary rounded-full">Primary</button>

<!-- primary -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- info -->
<button type="button" class="btn btn-info">Info</button>

<!-- success -->
<button type="button" class="btn btn-success">Success</button>

<!-- warning -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- danger -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- secondary -->
<button type="button" class="btn btn-secondary">Secondary</button>

<!-- dark -->
<button type="button" class="btn btn-dark">Dark</button>

<!-- outline-primary -->
<button type="button" class="btn btn-outline-primary">Primary</button>

<!-- outline-info -->
<button type="button" class="btn btn-outline-info">Info</button>

<!-- outline-success -->
<button type="button" class="btn btn-outline-success">Success</button>

<!-- outline-warning -->
<button type="button" class="btn btn-outline-warning">Warning</button>

<!-- outline-danger -->
<button type="button" class="btn btn-outline-danger">Danger</button>

<!-- outline-secondary -->
<button type="button" class="btn btn-outline-secondary">Secondary</button>

<!-- outline-dark -->
<button type="button" class="btn btn-outline-dark">Dark</button>

<!-- large -->
<button type="button" class="btn btn-primary btn-lg">Primary</button>

<!-- default -->
<button type="button" class="btn btn-info">Info</button>

<!-- small success -->
<button type="button" class="btn btn-success btn-sm">Success</button>

<!-- small warning -->
<button type="button" class="btn btn-warning btn-sm">Warning</button>