<!-- primary -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- info -->
<button type="button" class="btn btn-info">Info</button>

<!-- success -->
<button type="button" class="btn btn-success">Success</button>

<!-- warning -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- danger -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- secondary -->
<button type="button" class="btn btn-secondary">Secondary</button>

<!-- dark -->
<button type="button" class="btn btn-dark">Dark</button>

<!-- outline-primary -->
<button type="button" class="btn btn-outline-primary">Primary</button>

<!-- outline-info -->
<button type="button" class="btn btn-outline-info">Info</button>

<!-- outline-success -->
<button type="button" class="btn btn-outline-success">Success</button>

<!-- outline-warning -->
<button type="button" class="btn btn-outline-warning">Warning</button>

<!-- outline-danger -->
<button type="button" class="btn btn-outline-danger">Danger</button>

<!-- outline-secondary -->
<button type="button" class="btn btn-outline-secondary">Secondary</button>

<!-- outline-dark -->
<button type="button" class="btn btn-outline-dark">Dark</button>

<!-- primary -->
<span class="badge bg-primary">Primary</span>

<!-- secondary -->
<span class="badge bg-secondary">Secondary</span>

<!-- success -->
<span class="badge bg-success">Success</span>

<!-- danger -->
<span class="badge bg-danger">Danger</span>

<!-- warning -->
<span class="badge bg-warning">Warning</span>

<!-- info -->
<span class="badge bg-info">Info</span>

<!-- dark -->
<span class="badge bg-dark">Dark</span>

<!-- primary outline -->
<span class="badge badge-outline-primary">Primary</span>

<!-- secondary outline -->
<span class="badge badge-outline-secondary">Secondary</span>

<!-- success outline -->
<span class="badge badge-outline-success">Success</span>

<!-- danger outline -->
<span class="badge badge-outline-danger">Danger</span>

<!-- warning outline -->
<span class="badge badge-outline-warning">Warning</span>

<!-- info outline -->
<span class="badge badge-outline-info">Info</span>

<!-- dark outline -->
<span class="badge badge-outline-dark">Dark</span>

<!-- primary -->
<div class="flex items-center p-3.5 rounded text-primary bg-primary-light dark:bg-primary-dark-light">
    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">Primary!</strong>Lorem Ipsum is simply dummy text
        of the printing.</span>
</div>

<!-- secondary -->
<div class="flex items-center p-3.5 rounded text-secondary bg-secondary-light dark:bg-secondary-dark-light">
    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">Secondary!</strong>Lorem Ipsum is simply dummy
        text of the printing.</span>
</div>

<!-- success -->
<div class="flex items-center p-3.5 rounded text-success bg-success-light dark:bg-success-dark-light">
    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">Success!</strong>Lorem Ipsum is simply dummy text
        of the printing.</span>
</div>

<!-- warning -->
<div class="flex items-center p-3.5 rounded text-warning bg-warning-light dark:bg-warning-dark-light">
    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">Warning!</strong>Lorem Ipsum is simply dummy text
        of the printing.</span>
</div>

<!-- danger -->
<div class="flex items-center p-3.5 rounded text-danger bg-danger-light dark:bg-danger-dark-light">
    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">Danger!</strong>Lorem Ipsum is simply dummy text
        of the printing.</span>
</div>

<!-- info -->
<div class="flex items-center p-3.5 rounded text-info bg-info-light dark:bg-info-dark-light">
    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">Info!</strong>Lorem Ipsum is simply dummy text of
        the printing.</span>
</div>

<!-- primary2 -->
<div class="flex items-center p-3.5 rounded text-white bg-primary">
    <span class="ltr:pr-2 rtl:pl-2">
        <strong class="ltr:mr-1 rtl:ml-1">Warning!</strong>Lorem Ipsum is simply dummy text of the printing.
    </span>
</div>

<!-- warning2 -->
<div class="flex items-center p-3.5 rounded text-white bg-warning">
    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">Info!</strong>Lorem Ipsum is simply dummy text of
        the printing.</span>
</div>

<!-- success2 -->
<div
    class="relative flex items-center border p-3.5 rounded text-success bg-success-light border-success ltr:border-l-[64px] rtl:border-r-[64px] dark:bg-success-dark-light">
    <span class="absolute ltr:-left-11 rtl:-right-11 inset-y-0 text-white w-6 h-6 m-auto">
        <svg></svg>
    </span>
    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">Warning!</strong>Lorem Ipsum is simply dummy text
        of the printing.</span>

</div>

<!-- dark2 -->
<div
    class="relative flex items-center border p-3.5 rounded text-dark bg-dark-light border-dark ltr:border-r-[64px] rtl:border-l-[64px] dark:bg-dark-dark-light dark:text-white-light dark:border-white-light/20">
    <span class="absolute ltr:-right-11 rtl:-left-11 inset-y-0 text-white w-6 h-6 m-auto">
        <svg></svg>
    </span>
    <span class="ltr:pr-2 rtl:pl-2"><strong class="ltr:mr-1 rtl:ml-1">Warning!</strong>Lorem Ipsum is simply dummy text
        of the printing.</span>
</div>

<!-- layout -->
<dl class="flex flex-wrap">
    <dt class="w-2/4">1list</dt>
    <dd class="w-2/4">2list</dd>
</dl>
<dl class="flex flex-wrap">
    <dt class="w-1/4">1list</dt>
    <dd class="w-3/4">2list</dd>
</dl>