/* 文章正文样式 */
.entry-content {
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    font-size: var(--aya-main-font-size);
    color: var(--aya-main-color);
    line-height: 2;
    text-align: start;
    p {
        margin-top: 0;
        margin-bottom: var(--aya-main-margin-width);
        line-height: 2;
        font-size: var(--aya-main-font-size);
    }
    a {
        margin: 0 4px;
        color: var(--aya-main-link-color);
        line-height: 2;
        font-size: var(--aya-main-font-size);
    }
    a:hover {
        border-bottom: 1px solid var(--aya-main-link-color);
    }
    b,
    strong {
        font-weight: bold;
    }
    em {
        font-weight: italic;
    }
    iframe,
    video,
    img {
        display: block;
        margin: 0 auto;
        background-color: var(--aya-main-block-bg);
        background-repeat: no-repeat;
        margin-bottom: var(--aya-main-margin-width);
    }
    video,
    iframe {
        width: 100%;
        height: auto;
    }
    img {
        width: auto;
        height: auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: calc(var(--aya-main-margin-width) * 2);
    }
    h1,
    h2,
    h3 {
        margin-top: calc(var(--aya-main-margin-width) * 4);
    }
    h1:before,
    h2:before,
    h3:before {
        content: "";
        position: absolute;
        transition: 0.4s;
        transform-origin: left;
        width: 40px;
        height: 5px;
        background: var(--aya-element-color);
        left: 0;
        bottom: -10px;
        border-radius: 5px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1.15rem;
    }
    h5,
    h6 {
        font-size: 1rem;
    }
    ol {
        counter-reset: sectioncounter;
    }
    ol,
    ul {
        margin-top: 0;
        margin-bottom: var(--aya-main-margin-width);
    }
    ol li,
    ul li {
        margin-top: 0;
        margin-bottom: var(--aya-main-margin-width);
        margin-left: 0.5rem;
        list-style: inherit;
    }
    @media (max-width: 992px) {
        ol li,
        ul li {
            margin-left: 0;
        }
    }
    figure {
        text-align: center;
    }
    figcaption {
        color: #6c757d;
        text-align: center;
        font-size: 14px;
    }
    hr {
        margin-top: var(--aya-main-margin-width);
        margin-bottom: var(--aya-main-margin-width);
        border: none;
        height: 5px;
        border-radius: 5px;
        background: var(--aya-main-block-bg);
        opacity: 0.75;
    }
    br {
        margin-top: var(--aya-main-margin-width);
        margin-bottom: var(--aya-main-margin-width);
    }
    blockquote {
        margin-bottom: 30px;
        padding: 10px 20px 20px;
        background: var(--aya-main-block-bg);
        border-radius: var(--bs-border-radius);
    }
    blockquote:before {
        content: "\F6B0";
        color: var(--aya-element-color);
        font-style: normal;
        font-size: 24px;
        font-family: bootstrap-icons !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    blockquote cite {
        color: var(--aya-element-color);
        font-style: normal;
    }
    blockquote p {
        margin-top: 0;
        margin-bottom: var(--aya-main-margin-width);
        font-style: normal;
    }
    pre {
        display: block;
        margin-top: 0;
        overflow: auto;
        margin-bottom: var(--aya-main-margin-width);
        font-size: 14px;
    }
    pre::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        border-radius: 4px;
    }
    .wp-block-table {
        width: 100%;
        overflow-x: auto;
    }
    .wp-block-table table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }
    .wp-block-table td,
    .wp-block-table th,
    .wp-block-table tr {
        overflow: hidden;
        padding: 6px 12px;
        border: 1px solid var(--aya-border-color);
        vertical-align: middle;
        white-space: nowrap;
    }
    .wp-block-table tr:nth-child(odd) {
        background: var(--aya-main-block-bg);
    }
    .post-password-form input {
        display: inline-block;
        padding: 5px 10px;
        outline: none;
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
        border-bottom: var(--bs-border-width) solid var(--aya-border-color);
        border-radius: var(--bs-border-radius);
    }
    .post-password-form input:nth-child(n + 2):hover {
        background: var(--aya-btn-bg-color);
        color: #fff;
    }
    .post-password-form input:nth-child(n + 2):focus {
        background: var(--aya-btn-bg-color);
        color: #fff;
    }
}
