/*首页组件*/
.friends-link {
}
.not-found {
    .card-in-img {
        width: 50%;
    }
    .card-mt-box {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
/* 爱发电 */
.afdian-user-meta {
    text-align: center;
    text-align: unset;
    flex-wrap: wrap;
    display: flex;
    .avatar {
        margin-bottom: 15px;
        img {
            max-width: 64px;
            min-width: 64px;
            border-radius: 50%;
            background-color: var(--aya-text-bg);
            box-shadow: 1px 1px 2px 0px #0000005f;
        }
    }
    .meta {
        .des {
            display: block;
        }
    }
}
