/* 文章组件 */
.post-top-box .thumbnail {
  margin: 0;
  width: 100%;
}
.post-top-box .thumbnail:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}
.post-top-box .card-img-border {
  min-height: 200px;
}
.post-top-box .thumbnail-inner {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.post-top-box .thumbnail-inner .post-title {
  color: #ffffff;
}
.post-top-box .thumbnail-inner .post-meta {
  color: rgba(255, 255, 255, 0.8);
}
.post-top-box .thumbnail-inner .card-text {
  color: rgba(255, 255, 255, 0.8);
}
.post-top-box .post-title {
  color: var(--aya-title-color);
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 0;
}
.post-top-box .post-meta {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}
/* 文章组件 */
.post-end-box .post-share {
  padding: 0.5em 0.5em 0 0.5em;
}
.post-end-box .post-info {
  padding: 0.5em 0.5em 0 0.5em;
  font-weight: 400;
}
.post-end-box .post-separator {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.post-end-box .post-separator::after,
.post-end-box .post-separator::before {
  content: "";
  background: var(--aya-border-color);
  max-width: 20%;
  height: 1px;
  margin: 0 1em;
  flex: 1;
}
.post-tags-list em {
  display: inline-block;
  margin: 5px auto;
  font-size: 14px;
  font-style: inherit;
  border: solid 1px var(--aya-border-color);
  padding: 4px;
  border-radius: 5px;
}
.post-tags-list em a {
  color: var(--aya-link-color);
}
.post-tags-list em::before {
  content: "\f40a";
  font-size: 12px;
  margin-top: 2px;
  margin-right: 2px;
  color: #adb5bd;
}
.post-tags-list .cat {
  padding: 4px 8px;
}
.post-tags-list .cat::before {
  content: "\f479";
}
.post-tags-list em:not(:last-child) {
  margin-right: 10px;
}
.post-tags-list em:hover {
  background: var(--aya-btn-hover-bg);
}
.post-tags-list em:hover a {
  color: var(--aya-btn-hover-color);
}
/* 提示框 */
.down-box {
  overflow: hidden;
  padding: 20px;
  border-radius: var(--bs-border-radius);
  background-color: #f8f9fa;
}
.down-box .down-btn {
  left: -4px;
}
.down-box .down-btn .btn {
  padding: 8px 16px 8px 16px;
  border-radius: var(--bs-border-radius);
  color: #fff;
  background: var(--aya-element-color);
  line-height: 1;
}
/* 404 */
.post-not-found .card-in-img {
  max-width: 50%;
}
.post-not-found .card-mt-box {
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: 700;
}
.post-not-found .card-text {
  font-size: 18px;
}
.post-not-found .home-url {
  color: var(--aya-link-color);
  border-bottom: 1px solid var(--aya-link-color);
}
.post-not-found .home-url:hover {
  color: var(--aya-link-hover-color);
}
/* 上下篇文章 */
.post-prev-next {
  display: flex;
  flex-flow: wrap;
  font-weight: 500;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.post-prev-next p {
  color: #fff;
}
.post-prev-next a {
  color: #fff;
}
.post-prev-next .pd-in-card {
  width: 50%;
  float: left;
  position: relative;
  display: block;
  padding: 0 0.5rem;
}
.post-prev-next .pd-in-card .prev-post {
  padding: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.post-prev-next .pd-in-card .next-post {
  padding: 20px;
  text-align: right;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.post-prev-next .pd-in-card .card {
  display: block;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.post-prev-next .pd-in-card .card::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.6;
  border-radius: var(--bs-border-radius);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0));
}
@media (max-width: 992px) {
  .post-prev-next .pd-in-card {
    width: 100% !important;
  }
}
/* 作者面板 */
.author-panel .author-image {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 5px #ffffff;
  box-shadow: var(--aya-card-box-shadow);
}
.author-panel .author-image img {
  border-radius: 50%;
}
.author-panel .author-meta {
  color: rgba(151, 151, 151);
  font-size: 14px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 0;
}
.author-panel .author-meta a {
  font-weight: bold;
  color: var(--aya-link-color);
}
/* 标签云页面 */
.entry-content-tagcloud .tag-item {
  position: relative;
  font-size: 14px;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 10px;
  background: transparent;
  color: var(--aya-link-color);
  border: 1px solid var(--aya-border-color);
  border-radius: var(--bs-border-radius);
}
.entry-content-tagcloud .tag-item:hover {
  background: var(--aya-btn-hover-bg);
  color: var(--aya-btn-hover-color);
}
.entry-content-tagcloud .tag-plus {
  position: absolute;
  top: -10px;
  font-size: 10px;
  margin: 0;
  padding: 0px 4px;
  color: #fff;
  background: var(--aya-btn-bg-color);
  border: 1px solid var(--aya-border-color);
  border-radius: var(--bs-border-radius);
}
.entry-content-tagcloud .tag-plus:hover {
  background: var(--aya-btn-hover-bg);
  color: var(--aya-btn-hover-color);
}
